/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* varible color */

:root {
    --color-white: #FFFFFF;
    --color-silver: #DFE1F5;
    --color-black: #000000;
    --color-bg-black: #363636;
    --color-lightblue: #5B5FF1;
    --color-silver-desk: #A7A7A7;
    --color-p-desk: #E1E4ED;
    --color-latest-p: #6D758F;
    --color-bg-latest: #F8FAFF;
    --bg-komasuk: #F9F9FF;
}

/* atur ke semua selector */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


/* hilangkan scrolbar */

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: var(--bg-komasuk) !important;
}

body::-webkit-scrollbar{
    display: none;
}


/* header */

header {
    transition: 0.3s ease-in-out;
}

header .navbar .container a {
    color: var(--color-latest-p);
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

header .navbar .container a:hover {
    color: var(--color-latest-p);
    font-weight: 600;
}

header .navbar .container .collapse .navbar-nav:last-child .nav-link a {
    font-weight: 500;
}

header .navbar .container .collapse .navbar-nav:last-child .nav-link .signup {
    border: 2px solid var(--color-latest-p);
    border-radius: 40px;
    padding: 0 20px;
    transition: 0.3s ease-in-out;
}

header .navbar .container .collapse .navbar-nav:last-child .nav-link .signup:hover{
    border: 2px solid var(--color-latest-p);
    background-color: var(--color-latest-p);
}

header .navbar .container .collapse .navbar-nav:last-child .nav-link .signup:hover a {
    color: var(--color-white);
}


/* section kontak masuk */

#content-kontak-masuk {
    padding-top: 100px;
    height: 100vh;
}

#kontak-kritikan {
    height: 100vh;
}

#kontak-kritikan .row-bottom .column-left img{
    height: 80%;
}

#kontak-kritikan .row-bottom .column-right{
    height: 100%;
}

#content-kontak-masuk .container .row-top .column-left img {
    position: absolute;
    left: 0;
}

#content-kontak-masuk .container .row-top .column-rigth .card {
    background-color: var(--color-white);
}

.btn-primary {
    background-color: var(--color-bg-black) !important;
    box-shadow: none;
    border: none;
}


/* section jelajah */

#jelajah-section {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 200px;
}

#jelajah-section .container .card {
    border: 0;
    background-color: rgba(54, 54, 54, 1);
    padding: 60px 50px;
}

#jelajah-section .container .card .btn-group button {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jelajah-section .container .card .btn-group button:first-child {
    color: rgba(109, 117, 143, 1);
    background-color: var(--color-white);
    border: 2px solid var(--color-white);
    transition: 0.3s ease-in-out;
}

#jelajah-section .container .card .btn-group button:first-child:hover {
    color: var(--color-white);
    background-color: transparent;
    border: 2px solid var(--color-white);
}

#jelajah-section .container .card .btn-group button:last-child {
    color: var(--color-white);
    background-color: transparent;
    border: 2px solid var(--color-white);
    transition: 0.3s ease-in-out;
}

#jelajah-section .container .card .btn-group button:last-child:hover {
    color: rgba(109, 117, 143, 1);
    background-color: var(--color-white);
    border: 2px solid var(--color-white);
}




/* footer */ 

footer {
    padding-top: 6rem;
    height: max-content;
    padding-top: 80px;
    background-color: rgba(54, 54, 54, 1);
}

footer .container .text-group .link p {
    color: rgba(180, 185, 201, 1);
}

footer .container .text-group .social-media .row .col-md-1 img{
    width: 30px;
    transition: 0.3s ease-in-out;
}

footer .container .text-group .social-media .row .col-md-1 img:hover{
    transform: translateY(-10px);
}

footer .container .copyright{
    border-top: 2px solid rgba(225, 228, 237, 1);
    margin-top: 80px;
}

footer .container .copyright p {
    color: rgba(180, 185, 201, 1);
}

footer .container .copyright p .garis {
    color: rgba(255, 255, 255, 1);
}

footer .container .copyright p .link-underline {
    color: rgba(109, 117, 143, 1);
    text-decoration: underline;
    
    text-decoration-color: rgba(109, 117, 143, 1) !important;
}


/* modifikasi style boostrap */

.navbar-nav .nav-link.active {
    color: var(--color-latest-p) !important;
    font-weight: 600 !important;    
}

.scrol-actived,
.actived-mobile {
    backdrop-filter: blur(10px); /* Sesuaikan nilai blur sesuai kebutuhan */
    background-color: rgba(255, 255, 255, 0.5); /* Sesuaikan warna dan opasitas sesuai kebutuhan */
}


@media screen and (min-width:0px) and (max-width:575px) {

    header .navbar .container .collapse .navbar-nav:last-child {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: end;
        align-items: center;
    }

    #content-kontak-masuk {
        height: max-content;
        padding: 100px 0;
    }

    #kontak-kritikan {
        height: max-content;
        padding: 0;
        padding-bottom: 100px;
    }

    #kontak-kritikan .row-bottom .column-right .card {
        width: 90%;
        margin: 0 auto;
    }

    #jelajah-section .container .card {
        width: 90%;
        margin: 0 auto;
        padding: 10px 20px !important;
    }

    #jelajah-section .container .card .card-body .text h1 {
        font-size: 18px !important;
    }

    #jelajah-section .container .card .btn-group button {
        font-size: 12px !important;
    }

    #jelajah-section {
        padding: 0;
        padding-bottom: 100px !important;
    }

    footer .container .text-group .social-media .row .col-md-1 img {
        width: 26px !important;
    }

    footer .container .text-group h5 {
        font-size: 16px !important;
    }

    footer .container .text-group .link p,
    footer .container .text-group p,
    footer .container .copyright p
    {
        font-size: 14px !important;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {

    header .navbar .container .collapse .navbar-nav:last-child {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: end;
        align-items: center;
    }

    footer .container .text-group .social-media .row .col-md-1 img {
        width: 26px !important;
    }

    footer .container .text-group h5 {
        font-size: 16px !important;
    }

    footer .container .text-group .link p,
    footer .container .text-group p,
    footer .container .copyright p
    {
        font-size: 14px !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    header .navbar .container .collapse .navbar-nav:last-child {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: end;
        align-items: center;
    }

    footer .container .text-group .social-media .row .col-md-1 img {
        width: 26px !important;
    }

    footer .container .text-group h5 {
        font-size: 16px !important;
    }

    footer .container .text-group .link p,
    footer .container .text-group p,
    footer .container .copyright p
    {
        font-size: 14px !important;
    }
    

}

@media screen and (min-width: 992px){
    #jelajah-section .container .card .card-body .text {
        width: 50% !important;
    }
}